
.vs__dropdown-toggle {
    padding: 0 0 8px !important;
    font-size: 0.875rem !important;
    margin-top: 0.3rem !important;
}

.vs__search {
    font-size: 0.875rem !important;
    padding-top: 0.2rem !important;
    color: #71717A !important; 
}

.dp__input {
    font-size: 0.875rem !important;
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

.dp__input::placeholder {
    color: #71717A; 
    opacity: 1;
  }
