
.vs__search {
    font-size: 0.875rem !important;
    padding-top: 0.2rem !important;
    color: #71717A !important; 
}

.dp__input {
    font-size: 0.875rem !important;
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

.dp__input::placeholder {
    color: #71717A; 
    opacity: 1;
  }

  .vs__dropdown-option--highlight {
    background: #f5f5f5 !important; /* Lighter gray for background */
    color: black !important; /* Keep the text color dark for contrast */
  }

